.Keg-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.Keg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 180px;
  width: 500px;
  border: solid black 1px;
  padding: 10px;
}

.Keg-bar-and-minus-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Keg-button-minus {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.Keg-img-container {
  width: 90px;
}

.Keg-img  {
  width: 90%;
}
