.KegInfo {
  font-size: 1.5em;
  width: 100%;
  flex-direction: column;
  align-items: fles-start;
  justify-content: flex-start;
}

.KegInfo-brand {
  font-style: italic;
}

button {
  font-size: 0.7em;
}
