.KegList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.KegList-button {
  font-size: 1.5em;
  margin: 5px 0;
}

.KegList h1 {
  margin: 5px;
}
