.Keg {
  font-size: 1.5em;
  width: 600px;
  padding: 10px 0;
}

#Keg-name {
  font-weight: bold;
}

#Keg-brand {
  font-style: italic;
}

.Keg-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 0;
}

.Keg button {
  font-size: 1em;
}

.Keg-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.Keg-button-sell {
  margin-right: 0px;
}

