.Keg {
  font-size: 1.5em;
  /* width: 600px; */
}

.Keg-info-and-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.Keg-button-minus {
  width: 25px;
  height: 25px;
}