.KegInfo {
  font-size: 1.5em;
  width: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.KegInfo-name {
  font-weight: bold;
}

.KegInfo-brand {
  font-style: italic;
}

.KegInfo-name-and-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

button {
  font-size: 0.7em;
}

